body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.postimg.cc/8kxkVS2d/2024-Acer-Consumer-Option-02-3840x2400.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
}

header {
  padding: 50px 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
}

.circle-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 10px;
  text-decoration: none;
}

.call {
  background-color: #007bff; /* أزرق للاتصال */
}

.whatsapp {
  background-color: #25D366; /* أخضر واتساب */
}

#services {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 20px;
  margin: 10px 0;
}

#gallery {
  margin-top: 50px;
}

.gallery-images img {
  width: 100%;
  max-width: 300px;
  margin: 15px;
  border-radius: 8px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}
